.DrinksTable {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #DADADA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
}

.DrinkBox {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 1px solid #dadada;
}

.DrinkBox img{
}